services:
  app:
    build: .
    container_name: node_app_container
    restart: always
    ports:
      - '${PORT}:${PORT}'
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      - PORT=${PORT}
    depends_on:
      - db
    command: sh -c "npx prisma migrate deploy && npx prisma db seed && npm start"
    volumes:
      - ./:/app

  db:
    image: postgres:15-alpine
    container_name: postgres_db_container
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
